[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
marshmallow = "==3.0.0b18"
flask-migrate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "==0.14.1"
flask-bcrypt = "*"
pyjwt = "*"
python-dotenv = "*"
"psycopg2-binary" = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
