.full-match {
  background-color: #8BD6C3;
}

.part-match {
  background-color: #FFF1A3;
}

.highlight {
  color: red;
}

.card-header-title, .title.is-2, .subtitle.is-4, .subtitle.is-3 {
  font-family: 'Poiret One', cursive;
  color: $darkgrey;
}

input.input {
  margin: 15px 0 5px 0;
}
