.full-match {
  background-color: #66ffcc;
}

.part-match {
  background-color: #ffff66;
}

.highlight {
  color: red;
}

.card-header-title, .title.is-2, .subtitle.is-4, .subtitle.is-3 {
  font-family: 'Poiret One', cursive;
  color: $darkgrey;
}
