@import 'variables.scss';
@import 'forms.scss';
@import 'index.scss';
@import 'show.scss';
@import 'userPanel.scss';

html {
  background-color: $lightgrey;
  // background-image: url("../assets/images/tile.png");
  // background-repeat: repeat;
}

.navbar.is-fixed-bottom, .navbar.is-fixed-top {
  background-color: $darkgrey;
}

a.navbar-item, .navbar-link {
  color: $gold;
}

.navbar-item img {
  max-height: 2.5rem;
}

a.navbar-item:hover {
  background-color: transparent;
  color: $lightgold;
}

p {
  font-family: 'Raleway', sans-serif;
  color: $darkgrey;
}

h1.cocktails-title {
  display: none;
}

h1, h2, h3, h4 {
  font-family: 'Poiret One', cursive;
}

hr {
  background-color: $darkgrey;
}
